<!DOCTYPE html>
<html>
<head>
	<title>Class Suggestion Pool</title>
</head>
<body>
	<p>What are two classes would you like to see offered at Aristotle University?</p>
	<form action="/students/courses" method="POST">
		<input type="text" name="title1" placeholder="Course Suggestions 1">
		<input type="text" name="title2" placeholder="Course Suggestions 2">
		<button type="submit">Submit</button>
	</form>
</body>
</html>