html{
  float: left;
}

body {
  float: right;
  position: relative;
  max-width: 960px;
  left: 25%;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body.main {
  display: block;
  position: relative;
  float: right;
  width: 75%;
  vertical-align: top;
}

#Wildflowers {
  margin-right: 25%;
  min-width: 700px;
  text-align: center;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

section#external-links {
  display: block;
  position: relative;
  list-style-type: none;
  padding-left: 0px;
  float: left;
  vertical-align: top;
  width: 25%;
  right: 25%;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  html{
  float: none;
  }
  body {
    position: none;
    float: none;
    left: none;
  } 

  p {
    font-size: 10pt;
  }

  body.main {
  float: left;
  position: relative;
  }

  section#external-links {
  position: relative;
  float: none;
  left: 25%;
  }

  section#external-links li {
    font-size: 16pt;
  }
}