section#contact-info {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 20px;
}

h1#resume-title {
  margin-top: 70px;
}

section#contact-info p {
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 2px solid black;
}

/* We use the last-of-type selector
to avoid the appearance of an extra
border. */

section#contact-info p:last-of-type {
  border-right: none;
}