body {
  padding-left: 25px;
  color: white;
  font-size: 1.3em;
  /* You won't be responsible for learning to do
  gradients in CSS, we just wanted to show you
  the sorts of crazy things that are possible! */
  background: -moz-linear-gradient( top ,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 255, 0, 1) 20%,
      rgba(0, 255, 0, 1) 35%,
      rgba(0, 255, 255, 1) 55%,
      rgba(0, 0, 255, 1) 65%,
      rgba(255, 0, 255, 1) 85%,
      rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(linear,  left top,  left bottom, 
      color-stop(0%, rgba(255, 0, 0, 1)), 
      color-stop(20%, rgba(255, 255, 0, 1)),
      color-stop(35%, rgba(0, 255, 0, 1)),
      color-stop(55%, rgba(0, 255, 255, 1)),
      color-stop(65%, rgba(0, 0, 255, 1)),
      color-stop(85%, rgba(255, 0, 255, 1)),
      color-stop(100%, rgba(255, 0, 0, 1)));
}

#resume-title {
  text-shadow: 0 0 4px black;
}

section {
  text-shadow: 0 0 4px black;
}

#credits {
  display: block;
}

#contact-info {
  text-shadow: none;
  color: black;
}

ul {
  list-style-image: url("../images/ice-cream-cone-outline.png");
}
