.octopus-wrapper {
  position: relative;
}

div#octopus {
  position: absolute;
  top: 50px;
  left: 20px;
}

div#glasses {
  position: absolute;
  top: 150px;
  left: 60px;
}

div#hat {
  position: absolute;
  top: 0px;
}