body {
  background-color: ;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  padding: 20px;
}
#choco {
  float: clear;
  width: 32%;
  border-radius: 300px;
}
#buttoncontainer {
  text-align: center;
}
button {
  width: 15%;
  border-radius: 20px;
  margin: 25px;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background: #c22441;
}