/* You can use an HTML tag as a selector ... */

html {
  background-image: url("../images/wov.png");
}

body {
  font-family: "Georgia", serif;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: white;
  margin: 30px auto;
  max-width: 960px;
  font-size: 1.2em;
}

ul {
  list-style-type: square;
}

/* You can select multiple tags at once! */

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;
}

/* 

You can select a class (preceded by a period) 
or ID (preceded by a hash).

In HTML, a class is assigned like this:
<p class="your-class-here">some text</p>

An ID is assigned like this:
<p id="your-id-here">some text</p>

A given ID should only be used once in a document.
A given class can be used multiple times in a document.

*/

.experience-category, #resume-title {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
}

/* You can use a tag AND a class
to make the rule more specific. */

h2.experience-category {
  font-size: 1.8em;
}

h1#resume-title {
  font-size: 2.8em;
  margin-top: 0;
}

/* You can select the child tag of
an element of a certain class (the p
is nested inside the contact-info section) */

#contact-info p {
  line-height: .8;
}
