blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
